:root{
    --color-light: #F2F2F2;
    --color-black: #0D0D0D;

}

body{
    background-color: var(--c3);
}

#main-container{
    width: 60%;
    height: calc(100svh - 40px);
    box-shadow: 1px 1px 15px var(--color-light);
    margin: 20px auto !important;
    overflow: hidden;
}


.content-header i{
    width: 20px;
    padding: 10px 5px;
}

.content-header i{
    cursor: pointer;
}
.content-task{
    overflow-y: scroll;
}

.content-task::-webkit-scrollbar-thumb {
    background: var(--color-light);
    border-radius: 10px;
    border: 2px solid var(--color-light);
}
.content-task::-webkit-scrollbar-track {
    border-radius: 0 10px 10px 0;
}
.content-task::-webkit-scrollbar {
    width: 11px;
}

.item-task .content-info p{
    color: var(--color-black);
}

.item-task .content-info .title-task{
    color: var(--color-light);
}


.content-remove i{
    cursor: pointer;
}

@media (max-width: 1140px){
    #main-container{
        width: 80%;
    }
}

@media (max-width: 780px){
    #main-container{
        width: 90%;
    }
}
