*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    padding: 10px;
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: #F3E1AA;
    flex-direction: column;
}

h1{
    margin-bottom: 5px;
}

main{
    border-radius: 10px;
    width: 600px;
    height: 90vh;
    padding: 8px;
    align-self: center;
    box-shadow: 4px 4px 20px #444;
    background-color: #F3E1AA;
    overflow-y: scroll;
}

main::-webkit-scrollbar-thumb {
    background: #F3E1AA;
    border-radius: 10px;
    border: 2px solid #D6A261;
}
main::-webkit-scrollbar-track {
    background: #D6A261;
    border-radius: 0 10px 10px 0;
}
main::-webkit-scrollbar {
    width: 10px;
}

h1{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: #444;
}

.content-header form{
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.content-header input{
    margin-right: 10px;
    border-radius: 5px;
    flex-grow: 1;
    border: 1px;
    outline: 2px solid slateblue;
    padding: 5px;
    animation: all ease-in-out 3s;
}

.content-header input:focus{
    border: 1px solid rgb(24, 179, 151);

}

.content-header i{
    padding: 10px;
    font-size: large;
}
.content-header i:hover{
    cursor: pointer;
}

.row{
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background-color: #444;
}


.item-task{
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 2px 10px;
    display: flex;
}

.item-task form{
    display: flex;
    width: 20px;
}

.item-task input[type='checkbox']{
    width: 20px;
}

.item-task > .row{
    height: 1px;
    margin-top: 2px;
}

.item-task > div{
    width: calc(100% - 30px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
}

.item-task:nth-child(odd){
    background-color: #D6A261;
}

.item-task:nth-child(even){
    background-color: #A5794D;
}

.item-task h2{
    color: #40322A;
    flex-basis: 100%;
    text-transform: uppercase;
    font-family: 'Tajawal', sans-serif;
}

.item-task p{
    color: #F3E1AA;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;  
}

.item-task i{
    color: white;
    padding: 2px;
    margin: 0 1px;
    align-self: center;
}

.item-task i:hover{
    cursor: pointer;
}

.item-task .remove input{
    display: none;
}

.item-task .remove button, .content-header button{
    background: none;
    border:  none;
}

@media (max-width: 661px){
    main{
        width: 90%;
    }
}

@media (max-width: 500px){
    .item-task h2{
        font-size: 1em;
    }
    .item-task p{
        font-size: .8em;
    }
}